<header>
    <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
        <div class="col-sm">
            <a class="navbar-brand flex-grow-1" style="text-align: center; color: #fff; margin-left: 25px;">
                {% block navbar-content %}
                <i class='fas fa-briefcase-medical'></i>&nbsp; &nbsp; Mastery Hospital
                {% endblock navbar-content %}
            </a>
        </div>
        <div class="col-sm">
            {% block nav-btn %}
            <a href="{% url 'backend' %}" class="btn btn-outline-info btn-sm border-light" id="btn-nav">Login</a>
            {% endblock nav-btn %}
        </div>
    </nav>
</header>