{% extends 'app/base.html' %}

<!-- Title on tab browser -->
{% block title %}All Patients{% endblock title %}

<!-- Navbar Content -->
{% block navbar-content %}
    <i class='fas fa-hospital-user'></i>&nbsp; &nbsp; Patients
{% endblock navbar-content %}

<!-- Button on Navbar -->
{% block nav-btn %}
    <a href="{% url 'logout' %}" class="btn btn-outline-danger text-light btn-sm border-light" id="btn-nav">Logout</a>
{% endblock nav-btn %}

<!-- Content page -->
{% block content %}
<div class="container">
    <br><br>

    <div class="d-flex justify-content-between">
        <!-- 1) column ADD patient -->
        <a href="{% url 'add_patient' %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-plus"></i>&nbsp;&nbsp; Add Patient</a>
    </div>

    <form action="">
        <div class="input-group input-group-sm mb-3 mt-4">
            <input name="q" type="text" class="form-control" placeholder="Search for">
            <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
            <a href="{% url 'backend' %}" class="btn btn-dark" style="margin-left:2px;"><i class="fas fa-sync-alt"></i></a>
        </div>
    </form>

    <center>
        <table class="table table-bordered table-sm mt-4" style="text-align: center; font-size: 14px;">
            <thead class="table-secondary">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Registered</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tr>
                <td></td>
            </tr>
        </table>
    </center>

    <!-- Pagination -->
    <nav class="mt-4" aria-label="Page navigation example">
        <ul class="pagination justify-content-left">
            <a href="#" class="btn btn-outline-primary mb-4" style="width: 60px; border-radius: 1px; border: 1px solid #d3d3d3;"></a>
            <li class="page-item"><a href="" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>

            <li class="page-item disabled"></li>

            <li class="page-item active"><span class="page-link"><span class="sr-only"></span></span></li>
            <li class="page-item"><a class="page-link" href="#"></a></li>

            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
            <a href="#" class="btn btn-outline-primary mb-4" style="width: 60px; border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;"></a>
        
            <li class="page-item disabled"></li>
        </ul>
    </nav>
</div>
{% endblock content %}