{% extends 'app/add.html' %}


<!-- Title on tab browser -->
{% block title %}Edit patient{% endblock title %}

<!--NAVBAR CONTENT-->
{% block navbar-content %}
    <i class='fas fa-user-edit'></i>&nbsp; &nbsp; {{patient.name}}
{% endblock navbar-content %}

{% block Value-name %}value="{{patient.name}}"{% endblock Value-name %}
{% block Value-phone %}value="{{patient.phone}}"{% endblock Value-phone %}
{% block Value-email %}value="{{patient.email}}"{% endblock Value-email %}
{% block Value-age %}value="{{patient.age}}"{% endblock Value-age %}

{% block option %} <option style="background-color: #d3d3d3; color: #007bff;">{{patient.gender}}</option> {% endblock option %}
{% block Value-gender %}value="{{patient.gender}}"{% endblock Value-gender %}

{% block Value-note %}{{patient.note}}{% endblock Value-note %}

<!-- Rest button -->
{% block btn-reset %} 
<button type="reset" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp; Reset</button>
{% endblock btn-reset %}

<!-- Extends Add Button -->
{% block btn-content %}<i class="fas fa-hdd"></i>&nbsp;&nbsp; Save {% endblock btn-content %}

{% block card-title %} Registered At: <span class="text-primary">{{patient.created_at | date:'m/d/Y (H:i)'}}</span> {% endblock card-title %}

<!-- action block -->
{% block action %}action="/edit-patient/"{% endblock action %}


<!-- Input ID passed here -->
{% block id-hidden %} <input type="text" name="id" value="{{ patient.id }}" hidden> {% endblock id-hidden %}